@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dans src/index.css ou src/App.css (ou tout autre fichier CSS global) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
  }
  
  /* Dans src/index.css ou src/App.css */
/* html, body {
  height: 100%;
  overflow-x: hidden; /* Évite le défilement horizontal */
/* } */ 

/* Header.css */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}


/* Appliquer le fond à tout le corps pour éviter l'espace blanc derrière la barre de défilement */
body {
  background-color: #2c2c2c; /* Remplacer par la couleur de fond de votre choix */
  margin: 0; /* Supprimer les marges par défaut du corps */
  overflow-y: scroll; /* Assure que la barre de défilement est toujours visible */
}

/* Style de la barre de défilement */
::-webkit-scrollbar {
  width: 20px; /* Largeur de la barre de défilement */
}

/* Style du "pouce" (la partie que l'on déplace) */
::-webkit-scrollbar-thumb {
  background-color: #ff69b4; /* Couleur rose pour le pouce */
  border-radius: 6px; /* Coins arrondis pour le pouce */
}

/* Style de la piste (l'arrière-plan de la barre de défilement) */
::-webkit-scrollbar-track {
  background: transparent; /* Couleur de fond de la piste transparente */
  border-radius: 10px; /* Coins arrondis pour la piste */
}

/* Optionnel: style lorsque la souris survole la barre de défilement */
::-webkit-scrollbar-thumb:hover {
  background-color: #ff1493; /* Couleur rose plus foncée au survol */
}
